@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    /* text */
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* background gradient */
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);

    /* text */
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);

    /* dividers */
    --light-grayish-blue: hsl(240, 5%, 91%);
}

html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
    min-height: 100vh;

    font-family: "Kumbh Sans", sans-serif;
    font-size: 1.6rem;
    color: var(--very-dark-desaturated-blue);
    font-weight: 400;
}

.accordion-div {
    background-color: #fff;
    border-radius: 25px;
    width: 70%;
    margin: 10rem auto;
    min-height: 500px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.accordion-left-column {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;

    background-image: url("/img/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position-x: -50px;
}

.accordion-left-column img {
    position: absolute;
    left: -50px;
}

.accordion-right-column {
    padding: 1rem;
}

.accordion-right-column h1 {
    margin-bottom: 1rem;
}

.accordion-question {
    /* background-color: red; */
    padding: 1rem;
    border-bottom: 1px solid black;
    cursor: pointer;
}

.accordion-question:after{
    content: "";
    background-image: url("/img/icon-arrow-down.svg");
    width: 20px;
    height: 20px;
    display: block;
    background-repeat: no-repeat;
    float: right;
    margin-top: 10px;
}

.accordion-answer {
    display: none;
}

.accordion-content.opened .accordion-answer {
    display: block;
}